<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="footer-inner">
          <h5 class="footer-menu-title">Debyez Techonolgies</h5>
          <ul class="footer-menu">
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-inner">
          <h5 class="footer-menu-title">Products</h5>
          <ul class="footer-menu">
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-inner">
          <h5 class="footer-menu-title">Services</h5>
          <ul class="footer-menu">
          </ul>
        </div>
      </div>
      <div class="col-3">
        <h5 class="footer-menu-title">Address</h5>
        <div class="footer-inner">
          <ul class="footer-menu">
            <li>
              Bldg No 60/44 JC Chambers, V 366 <br>
              Opp Kairali Flat, Panampilly Nagar,<br>
              Ernakulam, Ernakulam - 682036, Kerala
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <li><a href="{{ .Site.BaseURL }}">Home</a></li>
<li><a href="{{ .Site.BaseURL }}contact">Contact</a></li>
<li class="copyright">© {{ now.Format "2006" }} {{.Site.Title}}</li> -->